//@font-face {
//  font-family: 'iconfont';  /* project id 413432 */
//  src: url('//at.alicdn.com/t/font_413432_uma3ju9x2rjrwwmi.eot');
//  src: url('//at.alicdn.com/t/font_413432_uma3ju9x2rjrwwmi.eot?#iefix') format('embedded-opentype'),
//  url('//at.alicdn.com/t/font_413432_uma3ju9x2rjrwwmi.woff') format('woff'),
//  url('//at.alicdn.com/t/font_413432_uma3ju9x2rjrwwmi.ttf') format('truetype'),
//  url('//at.alicdn.com/t/font_413432_uma3ju9x2rjrwwmi.svg#iconfont') format('svg');
//}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont');
}
$topColor: #1b1e27;
$navColor: #0f1116;
$actNav: #50c489;
$mainBgColor: #1f242e;
$minHeight: 593px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.iconfont{
  font-family:"iconfont";
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  //padding-left:20px
}
header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 13px;
  height: 44px;
  line-height: 44px;
  color: #fefefe;
  //background-color: $topColor;
  background-color: #03152c;
  z-index: 9999;
  a {
    font-size: 16px;
  }
  .title {
    font-size: 18px;
    margin: 0 auto;
  }
  .success {
    color: #50c489;
  }
}
.select-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  margin-top: 44px;
  //background-color: $topColor;
  background-color: #03152c;
  border: none;
  a {
    height: 20px;
    color: #bbbcbd;
    font-size: 16px;
    .iconfont {
      padding-left: 0;
    }
  }
  .chose-time, .design-water {
    padding: 0 15px;
    border-right: 1px solid #35383f;
    border-left: 1px solid #35383f;
  }
}
.time {
  position: absolute;
  top: 94px;
  display: none;
  width: 100%;
  z-index: 9998;
  p {
    line-height: 50px;
    text-align: center;
    color: #fff;
    //border-bottom: 1px solid #51586d;
    border-bottom: 1px solid #0e3162;
    //background-color: #2c313e;
    background-color: #08234b;
  }
  .active {
    color: #3cc1ff;
  }
}

.region {
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 0;
  right: 100%;
  z-index: 9999;
  display: flex;
  margin: auto;
  //height: 400px;
  overflow-y: auto;
  background-color: #1f242e;
  .province {
    overflow-y: auto;
    background-color: #021123;
    ul {
      color: #fff;
      list-style: none;
      li {
        width: 120px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        //background-color: #1d2029;
        background-color: #021123;
        border-bottom: 1px solid #242935;
      }
      .active {
        //background-color: #51c489;
        background-color: #3fc1ff;
      }
    }
  }
  .city {
    flex: 1;
    overflow-y: auto;
    background-color: #071b3d;
    .city-option {
      //border: 1px solid #242935;
      .title {
        padding-left: 38px;
        height: 50px;
        line-height: 50px;
        color: rgba(254, 254, 254, 0.5);
        //background-color: #1f242e;
        background-color: #071b3d;
      }
      .title-act {
        color: #50c489;
      }
      .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid #242935;
        overflow: hidden;
        padding: 10px 7px 0 7px;
        //background-color: #232732;
        background-color: #08234b;
        .item {
          margin: 0 2px 10px 2px;
          width: 55px;
          height: 25px;
          border: 1px solid #626262;
          border-radius: 10px;
          font-size: 12px;
          color: rgba(254, 254, 254, 0.5);
          text-align: center;
          line-height: 25px;
          &:empty {
            height: 0;
            border: none;
          }
        }
        .active {
          //border: 1px solid #50c489;
          border: 1px solid #3cc1ff;
          color: #50c489;
        }
      }
      .hide {
        height: 0;
        padding: 0 7px;
        border-bottom: 1px solid #242935;
      }
    }
  }
  .none {
    display: none;
  }
}

nav {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  z-index: 9999;
  a {
    flex: 1;
    height: 50px;
    padding: 6px 0;
    font-size: 12px;
    color: #666;
    text-align: center;
    text-decoration: none;
    background-color: $navColor;
    .iconfont {
      padding-left: 0;
      font-size: 18px;
    }
  }
  .act {
    color: $actNav;
  }
}
.shade {
  position: fixed;
  height: $minHeight;
  z-index: 9998;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}