@import "global";


.main {
  min-height: $minHeight;
  padding-top: 5px;
  padding-bottom: 50px;
  background-color: #1f232c;
  .option {
    .site-title {
      display: flex;
      height: 50px;
      padding-right: 15px;
      align-items: center;
      line-height: 50px;
      i {
        display: inline-block;
        width: 4px;
        height: 16px;
        border-radius: 2px;
        margin-left: 13px;
        margin-right: 10px;
        vertical-align: middle;
      }
      .title {
        color: #fff;
        margin-right: auto;
      }
      .avg {
        font-size: 12px;
      }
    }
    .yellow {
      i {
        background-color: #a0d468;
      }
      .avg {
        color: #a0d468;
      }
    }
    .green {
      i {
        background-color: #48cfae;
      }
      .avg {
        color: #48cfae;
      }
    }
    .blue {
      i {
        background-color: #5d9cec;
      }
      .avg {
        color: #5d9cec;
      }
    }
    .zi {
      i {
        background-color: #ac92ed;
      }
      .avg {
        color: #ac92ed;
      }
    }
    .echart {
      width: 100%;
      height: 150px;
      margin-bottom: 10px;
    }
  }
}
.chose-date {
  position: relative;
  input {
    position: absolute;
    width: 50px;
    opacity: 0;
  }
}